
div.LandingPage {
    height: 90vh;
    width: 100%;
    display: flex;
}

h3 > span {
    text-decoration: none;
}

.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1, h3 {
    color: black;
}

.first > h1 {
    font-size: 11rem;
}

.first > h3 {
    font-size: 2.5rem;
}


@media screen and (max-width: 480px) {
    .LandingPage {
        width: 100%;
        height: 70vh !important;
    }
    .first > h1 {
        font-size: 8rem !important;
    }
    .first > h3 {
        font-size: 2rem !important;
    }
}